[run]
source = app
concurrency = thread,greenlet

[report]
exclude_lines =
    # Standard pragmas
    pragma: no cover
    # Abstract method stubs
    raise NotImplementedError
    # Type-checking only imports
    if TYPE_CHECKING:
